<%- include('../layout/header.ejs') %>
<body id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" data-kt-app-aside-enabled="true" data-kt-app-aside-fixed="true" data-kt-app-aside-push-toolbar="true" data-kt-app-aside-push-footer="true" class="app-default">
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <%- include('../layout/navbar.ejs') %>
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <%- include('../layout/sidebar.ejs') %>
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar pt-5">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                                <a href="/view-banner" class="text-gray-500">
                                                    <i class="ki-duotone ki-setting-4 fs-1 text-gray-900">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                        <span class="path4"></span>
                                                    </i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                            </li>
                                            <li class="breadcrumb-item text-gray-900 fw-bold lh-1">Banner</li>
                                            <li class="breadcrumb-item">
                                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                            </li>
                                            <li class="breadcrumb-item text-gray-500">Add New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <% if(typeof message !== 'undefined'){ %>
                                            <div class="alert alert-success alert-dismissible" role="alert"><%= message %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        <% } %>
                                        <% if(flash.error.length> 0){ %>
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <%= flash.error %>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        <% } %>
                                        <div class="card mb-5 mb-xl-10">
                                            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                                                <div class="card-title m-0">
                                                    <h3 class="fw-bold m-0">Add Banner</h3>
                                                </div>
                                            </div>
                                        <form class="form form-vertical" method="post" enctype="multipart/form-data">
                                            <div class="card-body border-top p-9">
                                                <div class="row mb-10">
                                                    <label class="required form-label fs-5 fw-semibold col-lg-2">Title</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" name="title" placeholder="Banner Title" required>
                                                    </div>
                                                </div>
                                                <div class="row mb-10">
                                                    <label class="required form-label fs-5 fw-semibold col-lg-2">Image</label>
                                                    <div class="col-lg-10">
                                                        <div class="image-input image-input-outline image-input-empty" data-kt-image-input="true" style="background-image: url(assets/media/svg/files/blank-image.svg)">
                                                            <div class="image-input-wrapper w-125px h-125px" style="background-image: url(assets/media/svg/files/blank-image.svg)"></div>
                                                                <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Change avatar">
                                                                    <i class="ki-duotone ki-pencil fs-6"><span class="path1"></span><span class="path2"></span></i>
                                                                    <input type="file" name="image" accept=".png, .jpg, .jpeg"  id="avatar-input" />
                                                                    <input type="hidden" name="avatar_remove" />
                                                                </label>
                                                                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Cancel avatar">
                                                                    <i class="ki-outline ki-cross fs-3"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" data-bs-dismiss="click"title="Remove avatar">
                                                                    <i class="ki-outline ki-cross fs-3"></i>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-10">
                                                    <label class="required form-label fs-5 fw-semibold col-lg-2">Select Service</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-select" name="serviceId" required data-control="select2" data-placehodler="Select Service..">
                                                            <% if(service.length> 0) { %>
                                                                <option value="" disabled selected>Select Service..</option>
                                                            <%    for(let i=0; i < service.length; i++) { %>
                                                                    <option value="<%= service[i]._id %>"><%= service[i].name %></option>
                                                            <% } } %>
                                                        </select>                                                   
                                                    </div>
                                                </div>
                                                <div class="row mb-10">
                                                    <label class="required form-label fs-5 fw-semibold col-lg-2">Is Active</label>
                                                    <div class="col-lg-10">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" name="is_active" id="flexSwitchDefault"/>
                                                        </div>                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-primary me-3 mb-1">Submit</button>
                                                    <a href="/view-banner" class="btn btn-dark ms-3 mb-1">Back</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../layout/footer.ejs') %>
                                                           


           
