<%- include('../layout/header.ejs') %>
<body id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" data-kt-app-aside-enabled="true" data-kt-app-aside-fixed="true" data-kt-app-aside-push-toolbar="true" data-kt-app-aside-push-footer="true" class="app-default">
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <%- include('../layout/navbar.ejs') %>
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <%- include('../layout/sidebar.ejs') %>
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar pt-5">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                                <a href="/view-coupon" class="text-gray-500">
                                                    <i class="fa-solid fa-percent fs-1 text-gray-900"></i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                            </li>
                                            <li class="breadcrumb-item text-gray-900 fw-bold lh-1">Coupon</li>
                                            <li class="breadcrumb-item">
                                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                            </li>
                                            <li class="breadcrumb-item text-gray-500">Add New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <% if(typeof message !== 'undefined'){ %>
                                            <div class="alert alert-success alert-dismissible" role="alert"><%= message %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        <% } %>
                                        <% if(flash.error.length> 0){ %>
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <%= flash.error %>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        <% } %>
                                        <div class="card mb-5 mb-xl-10">
                                            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                                                <div class="card-title m-0">
                                                    <h3 class="fw-bold m-0">Add Coupon</h3>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form class="form form-vertical" method="post">
                                                    <div class="card card-flush py-4 mb-10">
                                                        <div class="card-header mb-5">
                                                            <div class="card-title">
                                                                <h3>Coupon Data</h3>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row mb-10">
                                                                <label class="required form-label fs-5 fw-semibold col-lg-3">Name</label>
                                                                <div class="col-lg-9">
                                                                    <input type="text" class="form-control form-control-solid" name="name" value="<%= coupon.name %>" placeholder="Enter Name" pattern="^[A-Za-z0-9 &\-!%]+$" required>
                                                                    <input type="hidden" name="id" value="<%= coupon.id %>"/>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-10">
                                                                <label class="required form-label fs-5 fw-semibold col-lg-3">Coupon Code</label>
                                                                <div class="col-lg-9">
                                                                    <input type="text" class="form-control form-control-solid" name="coupon_code" value="<%= coupon.coupon_code %>" placeholder="Enter Coupon Code" required>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-10">
                                                                <label class="required form-label fs-5 fw-semibold col-lg-3">Coupon Type</label>
                                                                <div class="col-lg-9">
                                                                    <div class="mb-10 d-flex gap-10">
                                                                        <div class="form-check form-check-custom form-check-solid">
                                                                            <input class="form-check-input" type="radio" id="flexRadioChecked" name="coupon_type" value="fixed"
                                                                            <% if(coupon.coupon_type == "fixed") { %> checked <% } else {} %> />
                                                                            <label class="form-check-label" for="flexRadioChecked">Fixed</label>
                                                                        </div>
                                                                        <div class="form-check form-check-custom form-check-solid">
                                                                            <input class="form-check-input" type="radio"  id="flexRadioChecked" name="coupon_type" value="percentage"
                                                                            <% if(coupon.coupon_type == "percentage") { %> checked <% } else {} %> />
                                                                            <label class="form-check-label" for="flexRadioChecked">Percentage</label>
                                                                        </div>
                                                                    </div>                                                    
                                                                </div>
                                                            </div>
                                                            <div class="row mb-10">
                                                                <label class="required form-label fs-5 fw-semibold col-lg-3">Coupon Amount</label>
                                                                <div class="col-lg-9">
                                                                    <input type="text" class="form-control form-control-solid" name="coupon_amount" value="<%= coupon.coupon_amount %>" placeholder="Enter Coupon Amount" required >
                                                                </div>
                                                            </div>
                                                            <div class="row mb-10">
                                                                <label class="required form-label fs-5 fw-semibold col-lg-3">Coupon Validity</label>
                                                                <div class="col-lg-9">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <label class="required form-label fs-5 fw-semibold col-lg-12">Start Date</label>
                                                                            <div class="col-lg-12">
                                                                                <input class="form-control form-control-solid" name="start_date" placeholder="Set Start Date" value="<%= coupon.start_date %>" id="flashstartdate"/> 
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label class="required form-label fs-5 fw-semibold col-lg-12">End Date</label>
                                                                            <div class="col-lg-12">
                                                                                <input class="form-control form-control-solid" name="expiry_date" placeholder="Set end Date" value="<%= coupon.expiry_date %>" id="flashenddate"/> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card card-flush py-4 mb-10">
                                                        <div class="card-header mb-5">
                                                            <div class="card-title">
                                                                <h3>Usage Restriction</h3>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row mb-10">
                                                                <label class="form-label fs-5 fw-semibold col-lg-3">Minimum Spend</label>
                                                                <div class="col-lg-9">
                                                                    <input type="number" class="form-control form-control-solid" name="minimum_spend" placeholder="minimum spend"  value="<%= coupon.minimum_spend %>">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-10">
                                                                <label class="form-label fs-5 fw-semibold col-lg-3">Maximum Spend</label>
                                                                <div class="col-lg-9">
                                                                    <input type="number" class="form-control form-control-solid" name="maximum_spend" placeholder="maximum spend" value="<%= coupon.maximum_spend %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card card-flush py-4 mb-10">
                                                        <div class="card-header mb-5">
                                                            <div class="card-title">
                                                                <h3>Usage Limits</h3>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row mb-10">
                                                                <label class="form-label fs-5 fw-semibold col-lg-3">Usage limit per coupon</label>
                                                                <div class="col-lg-9">
                                                                    <input type="number" class="form-control form-control-solid" name="usage_limit_per_coupon" placeholder="Set limit per coupon" value="<%= coupon.usage_limit_per_coupon %>">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-10">
                                                                <label class="required form-label fs-5 fw-semibold col-lg-3">Usage limit per user</label>
                                                                <div class="col-lg-9">
                                                                    <input type="number" class="form-control form-control-solid" name="usage_limit_per_user" placeholder="Set limit per user" required value="<%= coupon.usage_limit_per_user %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="col-12 d-flex justify-content-end">
                                                            <button type="submit" class="btn btn-primary me-3 mb-1">Submit</button>
                                                            <a href="/view-coupon" class="btn btn-dark ms-3 mb-1">Back</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('avatar-input').addEventListener('change', function() {
            var file = this.files[0];
            if (file) {
                var fileSize = file.size / (1024 * 1024); // Size in MB
                if (fileSize > 2) {
                    alert('File size exceeds 2MB. Please choose a smaller file.');
                    this.value = ''; // Clear the input field
                }
            }
        });    
    </script>
<%- include('../layout/footer.ejs') %>