<%- include('../layout/header.ejs') %>
<body id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" data-kt-app-aside-enabled="true" data-kt-app-aside-fixed="true" data-kt-app-aside-push-toolbar="true" data-kt-app-aside-push-footer="true" class="app-default">
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <%- include('../layout/navbar.ejs') %>
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <%- include('../layout/sidebar.ejs') %>
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar pt-5">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                                <a href="/dashboard" class="text-gray-500">
                                                    <i class="fa-solid fa-store fs-2 text-gray-900"></i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                            </li>
                                            <li class="breadcrumb-item text-gray-900 fw-bold lh-1">Center</li>
                                            <li class="breadcrumb-item">
                                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                            </li>
                                            <li class="breadcrumb-item text-gray-500 lh-1">Edit Center Gallery</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                <div class="row">
                                    <div class="card card-flush mb-5 mb-xl-10">
                                        <div class="card-header pt-5 border-bottom-0 cursor-pointer align-items-center py-5 gap-2 gap-md-5" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                                            <div class="card-title m-0 mt-5">
                                                <h2>Edit Image</h2>
                                            </div>
                                        </div>
                                        <div class="card-body border-top-0 pt-5 p-9">
                                            <div class="row mb-10 g-10 align-items-end">
                                                <div class="col-md-3 gal-img-wrap">
                                                    <% for(let i in FindImg.gallery_images) {
                                                        if(oldImg == FindImg.gallery_images[i]) { %>
                                                            <div class="card">
                                                                <img src="/images/<%= FindImg.gallery_images[i] %>" alt="Avatar">
                                                            </div>
                                                        <% } 
                                                    } %>
                                                </div>
                                                <div class="col-md-9">
                                                    <form action="" method="post" enctype="multipart/form-data">
                                                        <div class="row mb-5">
                                                            <div class="col-lg-8 ms-10">
                                                                <label class="form-label fs-5 fw-semibold mb-5">Replace Image</label>
                                                                <input class="form-control form-control-solid" type="file" name="image" id="upload" required>
                                                                <div class="mt-7">
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                    <a href="/view-gallery?id=<%= FindImg._id %>" class="ms-3 btn btn-dark">Back</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id" value="">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layout/footer.ejs') %>
                                        